{var $robots = noindex}

{block #content}

<div class="login-box">
    <div class="login-logo">
        <a href="">[PROJECT_TITLE]</a>
    </div>

	<div class="login-box-body">
        <p class="login-box-msg">Přihlašte se, prosím.</p>

        {control authForm}
  </div>
</div>
