 @import 'vendor.less';

@media (max-width: 767px) {
    .btn-success {
        width: 100%;
    }
}

.glyphicon {
  font-size: 20px;
}

.table .editable-buttons .glyphicon {
    font-size: 14px;
}

.input-group-btn .glyphicon {
    font-size: 13px!important;
}

.not-logged {
    .content-wrapper,
    .main-footer {
        margin-left: 0;
    }
}

.table > tbody > tr:first-child > td,
.table > tbody > tr:first-child > th {
    border: none;
}

.todo-list .fa {
    font-size: 20px;
}

.sidebar-menu {
    > li {
        ul.treeview-menu {
            display: block;
        }
    }
}


.sortable-handle {
    cursor: move;
}

.skin-blue {
    .sidebar-form {
        border-radius: 0;

         input[type="text"], .btn {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }
}

.clear {
    clear: both;
}

.myGrid, .myGrid2 {
    width: 100%;    
    height: 250px;
}

.myGrid2 {
    height: 600px;
}

.watermark {
    position: absolute;
    top : 100px;
    opacity: 0.25;
    font-size: 3em;
    width: 100%;
    text-align: center;
    z-index: 1000;
}
a {
    cursor: pointer;
}

h1 {
    margin-top: 0;
}

.login-box {
    margin: 0 auto;
    padding-top: 9%;
}

.chart {
    float: left;
    width: 600px;
}

.chartFilter {
    float: left;
    margin-top: 70px;
    margin-left: 80px;
    width: 300px;
}

.statsInfoCell {
    float: left;
    width: 160px;
}

.flash-message {
    margin-top: 15px;
}

input[type="radio"] {
    margin-right: 5px
}